.App {
  text-align: center;
  margin-top: 20rem;
}


@media (prefers-reduced-motion: no-preference) {
  .confetti {
    animation: App-logo-spin infinite 5s linear;
  }
}



h1 {
  animation: App-logo-spin infinite 20s linear;
}

p{
  animation: App-logo-spin infinite 15s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes text-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
