.App {
  text-align: center;
  margin-top: 20rem;
}


h1 {
  animation: App-logo-spin infinite 10s linear;
}

p{
  animation: App-logo-spin infinite 5s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes text-spin {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
